<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

@for (item of listaArticoli; track $index) {
  <!--<p>Nome: {{ item.name }} - Prezzo: {{ item.price }}</p>
  <button (click)="addElementoCarrello(item.id)">Aggiungi</button>-->
  <app-articolo
    [articolo]="item"
    (aggiungi)="addElementoCarrello($event)"
    (rimuovi)="reduceQuantity($event)"
  ></app-articolo>
}

<app-carrello [inputListaArticoliNelCarrello]="listaArticoliNelCarrello"></app-carrello>

<!--
<p>Totale: {{ getTotale() }}</p>

@for (item of listaArticoliNelCarrello; track $index) {
  <p>Nome: {{ item.name }} - Prezzo: {{ item.price }} - Quantità: {{ item.quantity }}</p>
}
-->
